img{
    height: 3rem;
}

.header{
    justify-content: center;
    height: 10%;
    background-color: black;
    color: azure;

}

span{
    display: flex;
    align-items: center;
}

h1{
    padding: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}
