form {
    width: 90%;
    margin: auto;
    
    color: azure;
}


.home {
    margin: 1rem auto;
    text-align: center;
    background-color:rgb(44, 44, 44) ;
    color: azure;
}

.subtitle{
    color: azure;
}

button {
    width: 100%;
    

}